extends layout

block content
  h2 Todos
  hr
  div.grid.gap-5.py-8
    each todo in todos
      div.todo-list
        div.flex.gap-5.flex-nowrap.items-center
          h3.todo-title: a(href=`/todos/${todo.id}`) #{todo.title}
          if !todo.done
            include ../public/styles/inline/check-circle.svg
        p.todo-description #{todo.description}
        div.flex.flex-wrap.gap-3
          div.flex.gap-2
            include ../public/styles/inline/calendar.svg
            span #{dateFns.formatRelative(todo.dueDate, new Date())}
          div.flex.gap-2
            include ../public/styles/inline/arrow-down-on-square.svg
            span #{todo.createdAt.toDateString()}
          div.flex.gap-2
            include ../public/styles/inline/arrow-path.svg
            span #{todo.updatedAt.toDateString()}
        //- input#(type="checkbox", name="done")
